<item>
    <h2>{ name }</h2>
    <p>{ quote }</p>
    this.name   = opts.name;
    this.quote = opts.quote;
    <style type='text/scss'>
        $color:#990;
        h1 { color:$color; }
    </style>
</item>