/**! @license style.scss; SCSS for jsCMS by Yuki TANABE on Nov 4, 2016 | pm8.jp */

@import "./normalize.scss";

$bgWhite:#fff;
$borderPaleGrey:#bfbfbf;
$bgPaleGrey:#dfdfdf;
$txtBlack:#1a1a1a;

body{background-color:$bgPaleGrey; color:$txtBlack;}
.hidden{display:none;}
#list{align-content:space-around; display:flex; flex-flow: row wrap; justify-content:space-around; max-width:100%;
  article{ background-color:$bgWhite; border:1px solid $borderPaleGrey; border-radius:3px; box-sizing:border-box; flex:0 1 48%; margin-bottom:1rem; overflow:hidden; padding:1rem;
    h2{ margin:0;}
  }
}