//- @license admin.pug; PugTemplate for jsCMS by Yuki TANABE on Oct 23, 2016 | pm8.jp
doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		link(href="/lib/css/style.css" rel="stylesheet")
		title Pugテスト
	body
		h1 管理画面(仮)
		main#main
			h2#new 新規登録
			section
				form(action='/action' method='post')
					input(name='title' placeholder='title' type='text')
					textarea(name='body' placeholder='本文')
					button(name='action' value='create') つくる。
			h2 ぼたんたち。
			section
				form(action='/action')
					button(name='action' value='tmpJson') テスト用(_idあり)jsonに反映。
				form(action='/action')
					button(name='action' value='prmJson') 本番用(_id除去)jsonに反映。
			h2 リスト
			section#list(data-ctl="list")
		script(src="/lib/js/script.min.js" type="text/javascript")
		<script>riot.mount('*');</script>