//- @license index.pug; PugTemplate for jsCMS by Yuki TANABE on Nov 22, 2016 | pm8.jp
doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		link(href="/lib/css/style.css" rel="stylesheet")
		title Test of jsCMS
	body
		h1 てすとだよ。
		section(data-ctl="list" id='list')
		script(src="/lib/js/script.min.js" type="text/javascript")