//- @license sandbox.pug; PugTemplate for jsCMS by Yuki TANABE on Nov 6, 2016 | pm8.jp
doctype html
html(lang='ja')
	head
		title SandBox
		link(href="/lib/css/style.css" rel="stylesheet")
	body
		h1 variable from node
		section
			p #{txt}
		h1 Riot
		section
			item(name='here is Riot test' quote='Hello, Hello, Hello')
			item(name='here is also Riot test' quote='hi, hi, hi')
		h1 list
		section#list(data-ctl="list")

	script(src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.3.18/riot+compiler.js")
	script(src="/lib/js/script.min.js" type="text/javascript")
	script(src="/lib/tag/sandbox.tag" type="riot/tag")
	<script>riot.mount('*');</script>